@import "tailwindcss";

@theme{
 --color-mainbackground: #0E1116;
 --color-secondarybackground: #21252B;
 --color-dark: #171627;
 --color-lightshade: #E6E6E6;
 --color-lightaccent: #6300FF;
 --color-darkaccent: #00D1FF;
 --color-neonpink: #FF00FF;
 --color-neonblue: #00D1FF;
}

html, body #root {
    height: 100%;
    overscroll-behavior: none;
    font-family: 'Roboto Flex', sans-serif;
}
